<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5daf0de6-e188-4bf5-9fe1-1bfbe3245fb3/resourceGroups/禾青醫電BodyGoLineBot/providers/Microsoft.Web/sites/bodyGoLineBot-test1</ResourceId>
    <ResourceGroup>禾青醫電BodyGoLineBot</ResourceGroup>
    <ApiResourceId>/subscriptions/5daf0de6-e188-4bf5-9fe1-1bfbe3245fb3/resourceGroups/%E7%A6%BE%E9%9D%92%E9%86%AB%E9%9B%BBBodyGoLineBot/providers/Microsoft.ApiManagement/service/LineBotMessageapiTest1/apis/LineBotMessage</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bodygolinebot-test1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>391587bf-20b0-4845-ba76-240586c76b97</ProjectGuid>
    <MSDeployServiceURL>bodygolinebot-test1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bodyGoLineBot-test1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$bodyGoLineBot-test1</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>